.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto  auto 300px auto;
    gap:50px;
    padding: 35px;
    border:6px solid red;
}

.grid-item{
   padding: 12px;
   border:3px solid red;
   background-color: whitesmoke;
}

.item1{
    border:6px solid red;
    grid-row: 1;
    grid-column: 1/ span4;
}

.item6{
    border:6px solid red;
    grid-column: 1/ span4;
}

.item2{
    border:6px solid red;
    grid-row: 2/ span2;
    grid-column: 1;
}
.item3{
    border:6px solid red;
    grid-row: 2;
    grid-column: 2/span 2;
 
}

.item5{
    border:6px solid red;
    grid-row: 2/span2;
    grid-column: 4;
 
}

.item4{
    border:6px solid red;
    grid-row: 3;
    grid-column: 2/span 2;
}